.Header-Component{
  background-color: aqua;
  width: 100%;
  height: 60px;
}

.Logo{

}

.text-header{

}

.accoun{

}

.change-of-topic{
  
}

.Footer-Component{
  background-color: aqua;
  width: 100%;
  height: 60px;
}