#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

main {
  margin-top: 60px;
}

.header-component {
  background-color: #fa612a;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1;
}

.logo {
  margin: 0;
  width: 90px;
  height: 60px;
}

.header-text {
  margin: 0;
  font-size: 30px;
  color: black;
}

.footer-component {
  background-color: #fa612a;
  width: 100%;
  height: 70px;
}
